
header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
  }

  .contenido {
    padding-top: 120px;
  }

  .barra {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }